<html lang='en'>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link href='https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap' rel='stylesheet' />
    <link
      rel='shortcut icon'
      href='https://images.vexels.com/media/users/3/158546/isolated/preview/046a971b276bfdaf9763ad4a9af3ce07-football-ball-star-silhouette.png'
    />
    <link rel='stylesheet' type='text/css' href='/styles.css' />
    <title>CRUD CLUBES</title>
  </head>

  <body>
    <main class='flex-center-column'>
    <nav class="navbar">
      <ul class="navbar__pages">
        <li id="home"><a href="/">Home</a><li>
        <li id="create-team"><a href="/create-team">Create Team</a></li>
      </ul>
    </div>
  </nav>

    {{{body}}}
  </main>
  </body>

</html>